
h1 {
  font-family: "MedievalSharp", cursive;
  color: darkolivegreen;
  font-size: 85px;
  font-weight: 400;
  text-align: center;
}
p {
  color: rgb(231, 240, 240);
  font-size: 25px;
  font-family: "Playwrite HU", cursive;
  font-weight: 100px;
  text-justify: auto;
}
body {
  background-color: cornflowerblue;
}
#meniu {
float: right;
margin-top: 0;
margin-right: 0%;
text-align: right;
}
 