html,body {
  padding: 1rem;
}
#mainTitle {
  font-family: "MedievalSharp", cursive;
  color: rgb(91, 112, 125);
  font-size: 85px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 15%;
  right: 3%;
  transform: translate(-50%,-50%);
}
.quote {
  color: rgb(231, 240, 240);
  font-size: 25px;
  font-family: "Playwrite HU", cursive;
  text-align: center;
  padding: 25px ;
 
}
body {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar ul{
list-style: none;
background: #bd1e43;
padding: 0;
margin: 0;
text-align: right;
}
.navbar li{
  display: inline-block;
}

.navbar a{
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  padding: 25px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  font-size: 14px;
}
.navbar a:hover{
  background: #353640;
}
#meniu {
float: right;
margin-top: 0;
margin-right: 0%;
text-align: right;
}
.container {
position: relative;
color: #fff;

}
.img {
 width: 100%;
  height: auto;
}
 